<%= form_for([:mostkhdmeen,@mostkhdmeen_user], :html=>{:style=>"margin-right:400px;margin-top:50px; width:400px;", :class=>"well" }) do |f| %>
  <% if @mostkhdmeen_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mostkhdmeen_user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @mostkhdmeen_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
    	<%= f.label "اسم المستخدم" %>
    	<%= f.text_field :name, :class=>"user_form_field" %>
  	</div>
  	
  	  <div class="field">
    	<%= f.label "الرقم العسكرى" %>
    	<%= f.text_field :military_number, :class=>"user_form_field" %>
  	</div>
  
  <div class="field">
    <%= f.label "كلمة المرور" %>
    <%= f.password_field :password, :class=>"user_form_field" %>
  </div>
  


	<div class="field">
	<%= f.label "رقم التلفون" %>
	<%= f.text_field :phone, :class=>"user_form_field" %>
  </div>
  
<div class="field">
	<%= f.label "ملاحظات" %>
	<%= f.text_field :note, :class=>"user_form_field" %>
  </div>
	
  <div class="field">
    <%= f.label "المجموعة" %>
	<%= f.select :group_id, options_from_collection_for_select(@groups, "id", "name",@mostkhdmeen_user.group_id), :class=>"user_form_field", :prompt => '-- اختر مجموعة --', %> 
  </div>
  
  
  
  <div class="modal-footer" >
  <center>
  	<%= f.submit @edit_flag?"حفظ":"تسجيل المستخدم" , :class=>"btn-large btn-primary"  %>
  </center>
  </div>
 
<% end %>