
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mostkhdmeen_user.name %>
</p>

<p>
  <b>Note:</b>
  <%= @mostkhdmeen_user.note %>
</p>

<p>
  <b>Password:</b>
  <%= @mostkhdmeen_user.password %>
</p>

<p>
  <b>Group:</b>
  <%= @mostkhdmeen_user.group_id %>
</p>

<p>
  <b>Start date:</b>
  <%= @mostkhdmeen_user.start_date %>
</p>

<p>
  <b>Job type:</b>
  <%= @mostkhdmeen_user.job_type %>
</p>

<p>
  <b>Rank:</b>
  <%= @mostkhdmeen_user.rank_id %>
</p>

<p>
  <b>Status:</b>
  <%= @mostkhdmeen_user.status %>
</p>

<p>
  <b>Military number:</b>
  <%= @mostkhdmeen_user.military_number %>
</p>

<p>
  <b>Phone:</b>
  <%= @mostkhdmeen_user.phone %>
</p>

<p>
  <b>Near relative:</b>
  <%= @mostkhdmeen_user.near_relative %>
</p>

<p>
  <b>Blood:</b>
  <%= @mostkhdmeen_user.blood %>
</p>

<p>
  <b>Address:</b>
  <%= @mostkhdmeen_user.address %>
</p>

<p>
  <b>Tag date:</b>
  <%= @mostkhdmeen_user.tag_date %>
</p>

<p>
  <b>Tas date:</b>
  <%= @mostkhdmeen_user.tas_date %>
</p>

<p>
  <b>Type:</b>
  <%= @mostkhdmeen_user.type %>
</p>


<%= link_to 'Edit', edit_mostkhdmeen_user_path(@mostkhdmeen_user) %> |
<%= link_to 'Back', mostkhdmeen_users_path %>
