<%= form_for([:tamam, @agaza], :html=>{:style=>"margin-right:400px;margin-top:50px; width:400px;", :class=>"well" }) do |f| %>
  <% if @agaza.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agaza.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @agaza.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "نوع الأجازة" %>
    <%= f.text_field :type %>
  </div>
  
  <div class="field" >
    <%= f.label "ملاحظات" %>
    <%= f.text_field :note %>
  </div>
  
 
  
  <div class="modal-footer">
  	<center>
    <%= f.submit "تسجيل اﻷجازة", :class=>"btn-large btn-primary"  %>
    </center>
  </div>
<% end %>
